POSTGRES_USER=devboard
POSTGRES_PASSWORD=insert_a_strong_password_here
POSTGRES_DB=devboard_db
DATABASE_URL=postgresql://devboard:insert_a_strong_password_here@db:5432/devboard_db
SECRET_KEY=supersecretkey_dev_only
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Telegram Bot Integration
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_WEBHOOK_SECRET=  # Random string to mask the webhook URL
