POSTGRES_USER=devboard
POSTGRES_PASSWORD=insira_uma_senha_forte_aqui
POSTGRES_DB=devboard_db
DATABASE_URL=postgresql://devboard:insira_uma_senha_forte_aqui@db:5432/devboard_db
SECRET_KEY=supersecretkey_dev_only
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
